body{
  padding: 20px 40px;
}

.head{
  display: flex;
  justify-content: space-between;
}
.head span{
  font-size: 22px;
  font-weight:bold;
}
button{
  border-radius: 10px;
  border: none;
  background-color:rgb(61, 73, 233);
  color: white;
  padding: 10px 25px;
  text-transform: uppercase;
}
.filter{
  margin-top: 50px;
  display: flex;
  gap: 5px;
  /* width: 95%; */
  justify-content: space-between;
}
.pair{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
#find{
  width: 450px;
}
table, th, td {
  border:1px solid black;
}